<!-- _includes/person_card_small.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if person.redirect -%}
  <a href="{{ person.redirect }}">
    {%- else -%}
    <a href="{{ person.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if person.img %}
        {%- include figure.html
          path=person.img
          alt="person thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">
            {{ person.first_name }}<br>
            {{ person.last_name }}
          </h2>
          <p class="card-text"><i>{{ person.one_liner | truncate: 80}}</i></p>
        </div>
      </div>
    </a>
</div>
